[package]
name = "theme-example"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
dioxus = { workspace = true }
dioxus-sdk-window = { workspace = true }

[features]
default = ["desktop"]
web = ["dioxus/web"]
desktop = ["dioxus/desktop"]
