[package]
name = "dioxus-sdk"
version = "0.7.0"

description = "A platform agnostic library for supercharging your productivity with Dioxus."
readme = "../../README.md"
keywords = ["gui", "dioxus", "hooks"]
categories = ["gui", "wasm"]

edition.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
dioxus-sdk-geolocation = { workspace = true, optional = true }
dioxus-sdk-notification = { workspace = true, optional = true }
dioxus-sdk-storage = { workspace = true, optional = true }
dioxus-sdk-sync = { workspace = true, optional = true }
dioxus-sdk-time = { workspace = true, optional = true }
dioxus-sdk-util = { workspace = true, optional = true }
dioxus-sdk-window = { workspace = true, optional = true }

[features]
geolocation = ["dep:dioxus-sdk-geolocation"]
notification = ["dep:dioxus-sdk-notification"]
storage = ["dep:dioxus-sdk-storage"]
sync = ["dep:dioxus-sdk-sync"]
time = ["dep:dioxus-sdk-time"]
util = ["dep:dioxus-sdk-util"]
window = ["dep:dioxus-sdk-window"]

[package.metadata.docs.rs]
all-features = true
